# APP
APP_NAME=Go REST API
APP_PORT=8080

# DATABASE
DSN_URL=<user>:<password>@tcp(localhost:3306)/<dbname>?parseTime=true
DB_USER=root
DB_HOST=127.0.0.1
DB_PORT=3306
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_NAME=go-api

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=20 # Minutes

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=24 # hours

# Cookies
COOKIE_ACCESS_TOKEN=access-token
COOKIE_ACCESS_EXPIRATION=20 # Minutes

COOKIE_REFRESH_TOKEN=refresh-token
COOKIE_REFRESH_EXPIRATION=24 # hours